# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Python cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# VSCode settings
.vscode/

# macOS files
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Pytest
.cache/
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.cache

# Build
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Supabase CLI
.supabase/

# Uvicorn log
*.log

# Docker
*.dockerignore

# Render build logs (Optional)
render.yaml
render-build.log
